@charset "UTF-8";
/* Définition police*/
@font-face {
  font-family: 'roboto';
  src: url("base/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Définition police*/
@font-face {
  font-family: 'shrikhand';
  src: url("base/Shrikhand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "roboto", "Arial", "Helvetica", "sans-serif";
  height: 100vh;
}

.title {
  font-family: "shrikhand", "Arial", "Helvetica", "sans-serif";
  font-size: x-large;
  padding: 20px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0px 10px 0px;
}

.footer {
  color: white;
  background-color: #353535;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer img {
  height: 20px;
  width: 110px;
  padding-top: 5px;
}

.footer__items {
  padding: 5px;
}

.footer__items a {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 500px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 200px;
  }
}

/*div localisation*/
.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
  background: #eaeaea;
  height: 63px;
}

.localisation .fas .fa-map-marker-alt {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  top: 10px;
}

.localisation input {
  border: 0px;
  background: #eaeaea;
  color: black;
  text-align: center;
}

/*section top-section*/
.top-section {
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 287px;
}

.top-section__title {
  padding: 15px;
}

.top-section__btn {
  color: white;
  border-radius: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  margin: 20px;
  padding: 15px;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.top-section__btn:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

/*section fonction*/
.fonction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  margin: 70px auto 0px;
}

.fonction__title {
  padding: 10px 120px 10px 0px;
}

.fonction__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 25px;
  -webkit-box-shadow: 10px 10px 10px #ececec;
          box-shadow: 10px 10px 10px #ececec;
  background-color: #f6f6f6;
  width: 300px;
  height: 60px;
  padding: 20px 60px 20px 0px;
  margin-top: 20px;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.fonction__btn:hover {
  background-color: #f5edff;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.fonction__btn .btn__number {
  color: white;
  background: #9356DC;
  border: 0px solid black;
  border-radius: 50%;
  padding: 5px 10px 25px 10px;
  position: relative;
  right: 15px;
  bottom: 5px;
}

.fonction__btn .fas:hover {
  color: #9356DC;
}

/*section restaurant*/
.restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f6f6f6;
  width: 100%;
  margin: 70px auto 0px;
}

.restaurant__title {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px 180px 10px 0px;
}

.restaurant .card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  border-radius: 5%;
  width: 300px;
  height: 200px;
  margin: 10px;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.restaurant .card:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.restaurant .card__img {
  position: relative;
  z-index: 1;
}

.restaurant .card__img img {
  width: 300px;
  height: 150px;
}

.restaurant .card__img .new {
  position: relative;
  bottom: 130px;
  left: 200px;
  color: #008766;
  background: #99E2D0;
  width: 80px;
  text-align: center;
}

.restaurant .card__name--new {
  margin-top: -15px;
}

.restaurant .card__name {
  font-weight: bold;
  padding-left: 5px;
}

.restaurant .card__name .fa-heart {
  padding-left: 120px;
}

.restaurant .card__name .fa-heart:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
}

.restaurant .card__city {
  padding-left: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card {
    width: 500px;
    height: 200px;
  }
  .card img {
    width: 500px;
    height: 150px;
  }
  .card .new {
    left: 400px;
  }
  .card .fa-heart {
    padding-left: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .restaurant {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .restaurant__title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
  .restaurant .card {
    width: 300px;
    height: 200px;
  }
  .restaurant .card img {
    width: 300px;
    height: 150px;
  }
  .restaurant .card .new {
    left: 200px;
  }
  .restaurant .card .fa-heart {
    padding-left: 120px;
  }
}

/*div picture*/
.picture img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 250px;
  width: 100%;
}

/*section menu*/
.menu {
  background: #f6f6f6;
  border-radius: 25px 25px 0px 0px;
}

.menu .far.fa-heart {
  position: relative;
  left: 80px;
}

.menu .dish {
  border-bottom: solid #99E2D0;
  width: 40px;
  margin-left: 10px;
}

.menu .items {
  background: white;
  border-radius: 25px;
  padding: 10px;
  margin: 20px;
}

.menu .items .name {
  font-weight: bold;
  font-size: large;
  padding-bottom: 5px;
}

.menu .items .price {
  position: relative;
  bottom: 20px;
  left: 280px;
  font-weight: bold;
}

.menu .btn {
  color: white;
  text-align: center;
  border-radius: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  margin: 20px;
  padding: 15px;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.menu .btn:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}
/*# sourceMappingURL=style.css.map */