@charset "UTF-8";
/* Définition police*/
@font-face {
  font-family: 'roboto';
  src: url("base/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Définition police*/
@font-face {
  font-family: 'shrikhand';
  src: url("base/Shrikhand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "roboto", "Arial", "Helvetica", "sans-serif";
  height: 100vh;
}

h1 .logo {
  font-family: "shrikhand", "Arial", "Helvetica", "sans-serif";
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  color: white;
  background-color: black;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer img {
  height: 15px;
  width: 110px;
  padding-top: 5px;
}

.footer__items {
  padding: 5px;
}

.footer__items a {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 500px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*section top-section*/
.top-section {
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.top-section__localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 10px;
}

.top-section__localisation input {
  border: 0px;
  background: #eaeaea;
  color: black;
  text-align: center;
}

.top-section__title {
  padding: 15px;
}

.top-section__btn {
  color: white;
  border-radius: 25px;
  background: #FF79DA;
  margin: 20px;
  padding: 15px;
}

/*section fonction*/
.fonction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  margin: 70px auto 0px;
}

.fonction__title {
  padding: 10px 120px 10px 0px;
}

.fonction__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 25px;
  background-color: #d3d3d3;
  width: 300px;
  height: 60px;
  padding: 20px 60px 20px 0px;
  margin-top: 20px;
}

.fonction__btn .btn__number {
  color: white;
  background: #9356DC;
  border: 0px solid black;
  border-radius: 50%;
  padding: 5px 10px 25px 10px;
  position: relative;
  right: 15px;
  bottom: 5px;
}

.fonction__btn a:hover {
  background-color: #f5edff;
}

/*section restaurant*/
.restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #d3d3d3;
  width: 100%;
  margin: 70px auto 0px;
}

.restaurant__title {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px 180px 10px 0px;
}

.restaurant .card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  border-radius: 5%;
  width: 300px;
  height: 200px;
  margin: 10px;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.restaurant .card__img {
  position: relative;
  z-index: 1;
}

.restaurant .card__img img {
  width: 300px;
  height: 150px;
}

.restaurant .card__img .new {
  position: relative;
  bottom: 130px;
  left: 200px;
  color: green;
  background: #99E2D0;
  width: 80px;
  text-align: center;
}

.restaurant .card__name--new {
  margin-top: -15px;
}

.restaurant .card__name {
  font-weight: bold;
  padding-left: 5px;
}

.restaurant .card__name .fa-heart {
  padding-left: 120px;
}

.restaurant .card__city {
  padding-left: 5px;
}

@media screen and (min-width: 768px) {
  .restaurant {
    width: 80%;
  }
  .restaurant__title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .restaurant .card {
    width: 500px;
    height: 200px;
  }
  .restaurant .card img {
    width: 500px;
    height: 150px;
  }
  .restaurant .card .new {
    left: 400px;
  }
  .restaurant .card .fa-heart {
    padding-left: 300px;
  }
}
/*# sourceMappingURL=style.css.map */