/*section top-section*/
.top-section{
    background: #d3d3d3;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &__localisation{
        display: flex;
        text-align: center;
        margin: 10px;
        input{
            border:0px;
            background: #d3d3d3;
            color: black;
            text-align: center;
        }
    }
    &__title{
        padding: 15px;
    }
    &__btn{
        color: white;
        border-radius: 25px;
        background: $colour-tertiary;
        margin: 20px;
        padding: 15px;
           
    }
}

/*section fonction*/
.fonction{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 70px auto 0px;
    &__btn{
        display: flex;
        text-align: center;
        justify-content: space-around;
        border-radius: 25px;
        background-color: #d3d3d3;
        width: 300px;
        height: 60px;
        padding: 20px 60px 20px 0px;
        margin-top: 20px;
        .btn__number{
            color: white;
            background: $colour-primary;
            border: 0px solid black;
            border-radius: 50%;
            padding: 5px 10px 25px 10px;
            position: relative;
            right: 15px;
            bottom: 5px;

        }
        
    }
}
/*section restaurant*/
.restaurant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #d3d3d3;
    width: 100%;
    margin: 70px auto 0px;
    }
    
.restaurant__title{
    align-items: flex-start;
    padding-bottom: 10px;
}
.card{
        align-items: center;
        background: white;
        border-radius: 5%;
        width: 300px;
        height: 200px;
        margin:10px;
        overflow: hidden;
        flex-shrink: 0;
        &__img{
            position: relative;
            z-index: 1;
            img{
            width: 300px;
            height: 150px;
            } 
            .new{
            position: relative;
            bottom: 130px;
            left: 200px;
            background: grey;
            width: 80px;
            text-align: center;
            }
        }
        &__name--new{
            margin-top: -15px;
        }    
        &__name{
            font-weight: bold;
           
            .far .fa-heart{
                padding-left: 30px;
            }
           
        }
        }
