body{
margin: auto;
background: #f6f6f6;
}



/*div picture*/

.picture{
    text-align: center;
    img{
        height: 250px;
        width: 100%;
        max-width: 800px;
        z-index: 2;
    }
}


/*section menu*/
.menu{
    background: #f6f6f6;
    border-radius: 25px 25px 0px 0px;
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    margin: 0px auto;
    z-index: 1;
    position: relative;
    bottom: 55px;
    .title{
        display: flex;
        justify-content: space-between;
    }
    &__icon{
        height: 100%;
        width: 20%;
        justify-content: center;
        display: flex;
        align-items: center; 
    }
    .far.fa-heart{
        height: 25px;
        width: 25px;
        position: absolute;
        opacity: 1;
        z-index: 1;
    }
    .fas.fa-heart{
        height: 25px;
        width: 25px;
        position: relative;
        top:-4px;
        opacity: 0;
        z-index: 2;
        background-clip: text;
        background: linear-gradient($colour-secondary,$colour-primary);
        -webkit-background-clip: text;
        -webkit-text-fill-color:transparent;
    }
    .far.fa-heart:hover,.fas.fa-heart:hover{
        transition: opacity 1s;
        opacity: 1;
    }
    .food{
        display: flex;
        flex-direction: column;
    }
    .dish{
        border-bottom: solid $colour-tertiary;
        width: 40px;
        margin-left: 30px;
    }
    .items__container{
        width: 100%;
       
    }
    .items__entree{
        animation: apparition 8s 0.1s ease-out;
    }
    .items__plat{
        animation: apparition 8s 1.5s ease-out;
    }
    .items__dessert{
        animation: apparition 8s 2.5s ease-out;
    }
    @keyframes apparition {
        from{
            opacity: 0;
            transform: scaleX(0);
        }
        to{
            opacity: 1;
            transform: scaleX(1);
        }
        
    }
    .items{
        display: flex;
        background: white;
        border-radius: 25px;
        padding: 10px;
        margin: 20px;
        height: 80px;
        align-items: center;
        flex-direction: row;
        cursor: pointer;
        overflow: hidden;
    &:hover .items__icon i{
        
        
        animation: rotate 3s linear;
    }
    &:hover .items__icon{
        cursor: pointer;
        transition: width 1s;
        width: 10%;
        opacity: 1;
    }
        &__description{
            font-weight: bold;
            font-size: large;
            width: 90%;
            text-overflow: ellipsis;
            transform-origin: left;
        }  
        &__price{
            
            font-weight: bold;
            display: flex;
            align-items: flex-end;
             
        }
        &__icon{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0px;
            height: 80px;
            width: 0px;
            padding: 0px 5%;
            border-radius: 0px 25px 25px 0px;
            color: white;
            background-color: $colour-tertiary; 
            opacity: 0;
            transition-duration: .5s;
        }  
        @keyframes rotate{
            from{
                transform:rotate(0deg);
            }
            to{
                transform:rotate(360deg);
            }
        } 
    }
    .btn{
        color: white;
        text-align: center;
        justify-content: center;
        border-radius: 25px;
        background: linear-gradient($colour-secondary,$colour-primary);
        margin: 20px;
        padding: 15px;
        cursor: pointer;
        &:hover{
            background: linear-gradient(to top left, #a16be0, #ff93e1);
            box-shadow: 3px 3px 5px grey;
        } 
    }

}
@media (min-width:1020px){
    .menu{
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 800px;
        width: 100%; 
    }
        .meal{
           flex-direction: row;
        }     
}