/*div localisation*/
.localisation{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background: #eaeaea;
    height: 63px;
    .fas .fa-map-marker-alt{
        flex-direction: row;
        position: relative;
        top: 10px;
    }
    input{
        border:0px;
        background: #eaeaea;
        color: black;
        text-align: center;
        width: 100%;  
    }
}

/*section top-section*/
.top-section{
    background: #f6f6f6;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 287px;
    &__title{
        padding: 15px;
    }
    &__btn{
        color: white;
        border-radius: 25px;
        background: linear-gradient($colour-secondary,$colour-primary);
        margin: 20px;
        padding: 15px;
        cursor: pointer;
        transform: scale(1);
        transition: transform 400ms;
        &:hover{
            transform:scale(1.15);
        }    
    } 
}

/*section fonction*/
.fonction{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 70px auto 0px;
    &__title{
        padding: 10px 120px 10px 0px; 
    }
    &__btn{
        display: flex;
        text-align: center;
        justify-content: space-around;
        border-radius: 25px;
        box-shadow: 10px #ececec;
        background-color: #f6f6f6;
        width: 300px;
        height: 60px;
        padding: 20px 60px 20px 0px;
        margin-top: 20px;
        cursor: pointer;
        transform: scale(1);
        transition: transform 400ms;
        &:hover{
            background-color: #f5edff;
            transform:scale(1.15);
        }
        .btn__number{
            color: white;
            background: $colour-primary;
            border: 0px solid black;
            border-radius: 50%;
            padding: 5px 10px 25px 10px;
            position: relative;
            right: 15px;
            bottom: 5px;    
        } 
        .fas:hover{
            color: $colour-primary;
        }  
    }
    
}
/*section restaurant*/
.restaurant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f6f6f6;
    width: 100%;
    margin: 70px auto 0px;
    
    
    &__title{
    align-items: flex-start;
    padding: 10px 180px 10px 0px;
}
    .card{
        align-items: center;
        background: white;
        border-radius: 5%;
        width: 300px;
        height: 200px;
        margin:10px;
        overflow: hidden;
        flex-shrink: 0;
        cursor: pointer;
        transform: scale(1);
        transition: transform 400ms;
        &:hover{
            transform: scale(1.15);
        }
        &__img{
            position: relative;
            z-index: 1;
            img{
            width: 300px;
            height: 150px;
            } 
            .new{
            position: relative;
            bottom: 130px;
            left: 200px;
            color: #008766;
            background: $colour-tertiary;
            width: 80px;
            text-align: center;
            }
        }
        &__name--new{
            margin-top: -15px;
        }    
        &__name{
            font-weight: bold;
            padding-left: 5px;
            .fa-heart{
                padding-left: 120px;
            }
            .fa-heart:active{
                background: linear-gradient($colour-secondary,$colour-primary);
            } 
        }
        &__city{
            padding-left: 5px;
        }
        }
    }
   @media screen and (min-width:768px)and (max-width:1024px){
        .card{
            width: 500px;
            height: 200px;
            img{
                width: 500px;
                height: 150px;
            } 
            .new{
                left: 400px;   
            }
            .fa-heart{
                padding-left: 300px;
            }        
        } 
    }
    @media screen and (min-width:1024px){
    .restaurant{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        &__title{
            justify-content: center;
            flex-direction: column;
            flex-basis: 100%;
            text-align: center;
        }
        .card{
            width: 300px;
            height: 200px;
            img{
                width: 300px;
                height: 150px;
            } 
                .new{
                    left: 200px;   
                }
                .fa-heart{
                    padding-left: 120px;
                }        
            } 

        }      
    }   