/*div localisation*/
.localisation{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background: #eaeaea;
    height: 63px;
    .fas .fa-map-marker-alt{
        flex-direction: row;
        position: relative;
        top: 10px;
    }
    input{
        border:0px;
        background: #eaeaea;
        color: black;
        text-align: center;
         
    }
}

/*section top-section*/
.top-section{
    background: #f6f6f6;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 287px;
    &__title{
        padding: 15px;
    }
    &__btn{
        color: white;
        border-radius: 25px;
        background: linear-gradient($colour-secondary,$colour-primary);
        margin: 20px;
        padding: 15px;
        box-shadow: 1px 1px 5px grey;
        cursor: pointer;
        &:hover{
            background: linear-gradient(to top left, #a16be0, #ff93e1);
            box-shadow: 3px 3px 5px grey;
        }
        }    
    
}

/*section fonction*/
.fonction{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 70px auto 0px;
    &__title{
        padding: 10px 120px 10px 0px; 
    }
    &__btn{
        display: flex;
        text-align: center;
        justify-content: space-around;
        border-radius: 25px;
        box-shadow: 10px 10px 10px #ececec;
        background-color: #f6f6f6;
        width: 300px;
        height: 60px;
        padding: 20px 60px 20px 0px;
        margin-top: 20px;
        cursor: pointer;
        transform: scale(1);
        transition: transform 400ms;
        &:hover{
            background-color: #f5edff;
            transform:scale(1.15);
            color: $colour-primary;
        }
        .btn__number{
            color: white;
            background: $colour-primary;
            border: 0px solid black;
            border-radius: 50%;
            padding: 5px 10px 25px 10px;
            position: relative;
            right: 15px;
            bottom: 5px;    
        } 
       
        .btn__description{
            color:black;
        }  
    }
    
}
/*section restaurant*/
.restaurant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f6f6f6;
    width: 100%;
    margin: 70px auto 0px;
    max-width: 1200px;
    &__title{
    align-items: flex-start;
    padding: 10px 180px 10px 0px;
    }
    .picture{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .card{
        align-items: center;
        background: white;
        border-radius: 5%;
        position: relative;
        width: 90%;
        height: 300px;
        margin: 15px 0px;
        overflow: hidden;
        flex-shrink: 0;
        cursor: pointer;
        &__img{
            position: relative;
            width: 100%;
            height: 80%;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 15px 15px 0px 0px;
            } 
            .new{
                position: absolute;
                top: 12px;
                right: 12px;
                color: #008766;
                background: #99E2D0;
                width: 80px;
                text-align: center;
                padding: 3px;
            }
        }
        &__info{
            height: 20%;
            width: 100%;
            padding: 5px;
            text-decoration: none;
            color: black;
            display: flex;
            a{
                height: 100%;
                width: 80%;
                text-decoration: none;
            }
            .text{
            display: flex;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            }

                .name{
                font-weight: bold;
                }
            }    
            .heart{
                height: 100%;
                width: 20%;
                justify-content: center;
                display: flex;
                align-items: center;
                .far.fa-heart{
                    height: 25px;
                    width: 25px;
                    position: absolute;
                    opacity: 1;
                    z-index: 1;
                }
                .fas.fa-heart{
                    height: 25px;
                    width: 25px;
                    position: absolute;
                    opacity: 0;
                    z-index: 2;
                    background-clip: text;
                    background: linear-gradient($colour-secondary,$colour-primary);
                    font-size: 16px;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color:transparent;
                }
                .far.fa-heart:hover,.fas.fa-heart:hover{
                    transition: opacity 1s;
                    opacity: 1;
                }
            }
        }
        }
}


   @media (min-width:700px){
        .picture{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            .card{
            width: 45%;
            .img{
                width: 45%;
            }
            
            }
        }
    }
    