.loader{
    margin:auto;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
    border: 16px solid #f6f6f6;
    width: 120px;
    height: 120px;
    border-top-color: $colour-secondary;
    border-top-color: $colour-primary;
    border-radius: 50%;
    -webkit-animation: opacity_reverse 500ms 3000ms linear both;
    animation: chargeur 3s linear infinite;
}
@keyframes chargeur{
    0%{
        transform: rotate(0deg) scale(1);
        border-top-color: $colour-primary;
        border-bottom-color: $colour-primary;
    }
    25%{
        border-top-color: $colour-secondary;
        border-bottom-color: $colour-secondary;
    }
    50%{
        transform: rotate(360deg)scale(1.15);
        border-top-color: $colour-primary;
        border-bottom-color: $colour-primary;
    }
    75%{
        border-top-color: $colour-secondary;
        border-bottom-color: $colour-secondary;
    }
    100%{
        transform: rotate(720deg)scale(1);
        border-top-color: $colour-primary;
        border-bottom-color: $colour-primary;
    }
}